<template>
    <div>
        <p>
            <input type="text" placeholder="用户名" v-model="useName">
        </p>
        <p>
            <input type="password" placeholder="输入密码" v-model="submitName">
        </p>
        <button @click="login">登录</button>

    </div>
</template>

<script>
export default {
    data() {
        return {
            useName:'',
            submitName:''
        };
    },
    
    methods: {
        login(){
            this.$store.dispatch("login",{
                useName:this.useName,
                submitName:this.submitName
            })
            
        }
    }
};
</script>

<style scoped lang="scss">

</style>
