<template>
  <div>
    <h1>
        {{this.$store.state.useName}}
    </h1>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
  created() {},
  mounted() {},
  methods: {},
};
</script>

<style scoped lang="scss">
</style>
