<template>
    <div>
        <router-link tag="span" to="/login" v-if="!$store.state.name">登录</router-link>

        <span @click="signOut" v-else>退出</span>

        <router-view></router-view>

        
    </div>
</template>

<script>
export default {
    data() {
        return {
            name:localStorage.getItem("name")||""

        };
    },
    methods: {
        signOut(){
            this.$store.commit("handleName",{
                name:""
            })
        }

    }
};
</script>

<style scoped lang="scss">

</style>
