<template>
    <div>
        <h1>hello,{{$store.state.name||"还未登录"}}</h1>
        <router-view></router-view>


        <!-- <input type="text" @input="handleInput" :value="$store.state.val">
        <p>{{$store.state.val}}</p> -->
    </div>
</template>

<script>
export default {
    data() {
        return {

        };
    },
   
    
    created() {

    },
    mounted() {

    },
    methods: {
        // handleInput(){
        //     let val=e.target.value
        //     this.$store.commit(CHANGE_NAME,{
        //         val:val
        //     })
        // }

    }
};
</script>

<style scoped lang="scss">

</style>
