<template>
    <div>
        <input type="text" v-model="token">
        <button @click="login">登录</button>
        <button @click="handleState">修改state</button>
    </div>
</template> 

<script>
import {mapState} from "vuex"
export default {
    data() {
        return {
            token:'f27be2e8-623d-4530-bba2-77dbdb9f7303'
        };
    },
    created() {

    },
    mounted() {

    },
    
    methods: {
        login(){
            fetch('https://cnodejs.org/api/v1/accesstoken?accesstoken='+this.token,{
                method:'post'
            })
            .then(res=>res.json())
            .then(res=>{
                if(res.success){
                    this.$router.push("/home")
                    this.$store.commit("handleName",{
                        name:res.loginname,
                    })
                }
            })
        },
        handleState(){
            this.$store.commit("handleName",{
                name:1234
            })
        }

    }
};
</script>

<style scoped lang="scss">

</style>
