<template>
  <div id="app">
    <router-view></router-view>

    <!-- <Denglu/> -->
  </div>
</template>
<script>
import Denglu from "./views/denglu"

export default ({
components:{
  Denglu,
}
})
</script>

